@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit.eot');
    src: url('../fonts/Larsseit.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Larsseit.woff2') format('woff2'),
        url('../fonts/Larsseit.woff') format('woff'),
        url('../fonts/Larsseit.ttf') format('truetype'),
        url('../fonts/Larsseit.svg#Larsseit') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Bold.eot');
    src: url('../fonts/Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Larsseit-Bold.woff2') format('woff2'),
        url('../fonts/Larsseit-Bold.woff') format('woff'),
        url('../fonts/Larsseit-Bold.ttf') format('truetype'),
        url('../fonts/Larsseit-Bold.svg#Larsseit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('../fonts/Larsseit-Medium.eot');
    src: url('../fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Larsseit-Medium.woff2') format('woff2'),
        url('../fonts/Larsseit-Medium.woff') format('woff'),
        url('../fonts/Larsseit-Medium.ttf') format('truetype'),
        url('../fonts/Larsseit-Medium.svg#Larsseit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/SharpSans-Bold.eot');
    src: url('../fonts/SharpSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SharpSans-Bold.woff2') format('woff2'),
        url('../fonts/SharpSans-Bold.woff') format('woff'),
        url('../fonts/SharpSans-Bold.ttf') format('truetype'),
        url('../fonts/SharpSans-Bold.svg#SharpSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}